@import "tailwindcss";

:root {
  --color-brand: #1e3a8a;       /* Royal Blue */
  --color-accent: #d4af37;      /* Gold */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* Dark mode overrides */
.dark {
  --color-background: #f6f6f6;
  --color-foreground: #ededed;
}
